.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9e6b8;
  gap: 80px;
}

.signUpBox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px; /* Adjust width as needed */
  width: 100%;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 500px; /* Adjust width as needed */
  height: 500px;
}
